@use 'variables';
// faccio il reset
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
// coloro tutto il testo col colore primario
body{
    color: variables.$color_primary;
}
.container{
    @include variables.container;
}
.row{
    @include variables.row;
}
.myBtn{
    @include variables.flexCenterCenter;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px 10px;
    border: 1px solid variables.$color_tertiary;
    background-color: variables.$color_tertiary;
    border-radius: 5px;
    color: white;
    img{
        width: 20px;
        margin-right: 0.6rem;
    }
}
a{
    text-decoration: none;
    color: variables.$color_tertiary;
}