@use 'module/_variables';

header{
    nav{
        @include container;
        @include row;
        @include flexSpaceBeCenter;
        height: 80px;
        border-bottom: 2px solid $color_primary;

        .navRight{
            @include row;

            ul {
                @include row;
                @include flexSpaceBeCenter;
                @include horizontal-list;
                a{
                    color: $color_primary;
                }
            }
            .myBtn{
                padding: 10px;
                color: $color_tertiary;
                background-color: white;
            }
        }
    }
    .jumbotron{
        @include container;
        .jumboLeft{

            button{
                display: inline-block;
            }
        }
    }
}